body{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    width: 50vh;
}

.button{
    padding: 30px;
    font-size: larger;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(51, 51, 51);
    border: black;
    color: white 
}

.special-button{
    padding: 30px;
    font-size: larger;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(165,165,165);
    color: black;
}

.operator{
    padding: 30px;
    font-size: larger;
    border-radius: 50%;
    margin: 5px;
    background-color: #fe9505;
}

input{
    margin-bottom: 20px;
    width: 325px;
    height: 75px;
    font-size: xx-large;
    background-color: black;
    color: white;
    border: 1px solid white;
}

#zero{
    grid-column: span 2;
    border-radius: 50px;
    text-align: left;
}

h1{
    color: white;
    margin-top: 0px;
}

input{
    border-radius: 10px;
}
